<!DOCTYPE html>
<html>
<head>
  <title>SuisDeliveryMechRails</title>
  <!-- <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> -->
  <%= stylesheet_link_tag    "screen.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
